<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title> Baja California </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list>
        <ion-item *ngFor="let zona of zonas | keyvalue" href="/tab3">
          <ion-thumbnail slot="start">
            <img
              alt="Silhouette of mountains"
              src="{{zona.value.img}}"
            />
          </ion-thumbnail>
          <ion-label>{{zona.key}}</ion-label>
        </ion-item>
  </ion-list>
</ion-content>
