.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
  grid-gap: 2px; /* Espacio entre las tarjetas */
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
ion-title{
  font-size: 0.8em;
  text-align: center;
}
ion-card-title{
  margin-top: 20%;
  font-size: 1.20em;
}


