<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zonas Arqueológicas de México
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/BajaCalifornia.jpg?v=1699507199059'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Baja California</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/BajaCaliforniaSur.jpeg?v=1699508680237'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Baja California Sur</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/Campeche.jpeg?v=1699509059355'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Campeche</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/chiapas.jpeg?v=1699509632825'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Chiapas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/cdmx.jpeg?v=1699509646207'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">CDMX</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/coahuila.jpeg?v=1699509651525'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Coahuila</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/colima.jpeg?v=1699509657567'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Colima</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/durango.jpeg?v=1699509661970'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Durango</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/estadodemexico.jpeg?v=1699513715933'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Estado de México</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/guanajuato.jpeg?v=1699513774272'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Guanajuato</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/guerrero.jpeg?v=1699513785987'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Guerrero</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/hidalgo.jpeg?v=1699513818802'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Hidalgo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/jalisco.jpeg?v=1699513819596'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Jalisco</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/michoacan.jpeg?v=1699513820445'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Michoacán</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/morelos.jpeg?v=1699513821099'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Morelos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/nayarit.jpeg?v=1699513821887'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Nayarit</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/nuevoleon.jpeg?v=1699513823004'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Nuevo León</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/oaxaca.jpeg?v=1699513823515'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Oaxaca</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/puebla.jpeg?v=1699513823975'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Puebla</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/queretaro.jpeg?v=1699513824436'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Querétaro</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/quintanaroo.jpeg?v=1699513824922'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Quintana Roo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/sanluispotosi.jpeg?v=1699513825383'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">San Luis Potosí</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/sinaloa.jpeg?v=1699513825884'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Sinaloa</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/sonora.jpeg?v=1699513826358'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Sonora</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/tabasco.jpeg?v=1699513826818'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Tabasco</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/tamaulipas.jpeg?v=1699513827482'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Tamaulipas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/tlaxcala.jpeg?v=1699513827963'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Tlaxcala</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/veracruz.jpeg?v=1699513817121'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Veracruz</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/yucatan.jpeg?v=1699513817775'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Yucatán</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card href="/tabs/tab2" style="background-image: url('https://cdn.glitch.global/3404feab-1cd6-4c2b-a0d6-1cb6b77da0d0/zacatecas.jpeg?v=1699513818336'); background-size: cover; background-position: center;">
    <ion-card-header>
      <ion-card-title color="light">Zacatecas</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
</ion-content>
