ion-card-content{
  text-align: justify;
}
.button1{
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
#map {
  height: 400px;
  width: 100%;
}
#map {
  height: 400px;
  width: 100%;
}
.container{
  height: 400px;
  width: 100%;
}
capacitor-google-map {
  display: inline-block;
  height: 400px;
  width: 100%;
}

