<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{laZona?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <img
  alt="Silhouette of mountains"
  src="{{laZona?.img}}"
  />
  <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="location-outline"></ion-icon>
        {{laZona?.latitud}}, {{laZona?.longitud}}
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{laZona?.descripcion}}
    </ion-card-content>
  <!-- Contenedor para el mapa -->
  <div id="map" #map></div>
</ion-content>

